[submodule "Plugins/TargetingSystem"]
	path = Plugins/TargetingSystem
	url = https://github.com/Soccertitan/TargetingSystem
[submodule "Plugins/InventorySystem"]
	path = Plugins/InventorySystem
	url = https://github.com/Soccertitan/InventorySystem
[submodule "Plugins/InteractionSystem"]
	path = Plugins/InteractionSystem
	url = https://github.com/Soccertitan/InteractionSystem
[submodule "Plugins/CrimBlueprintStatics"]
	path = Plugins/CrimBlueprintStatics
	url = https://github.com/Soccertitan/CrimBlueprintStatics
[submodule "Plugins/CrimAbilitySystem"]
	path = Plugins/CrimAbilitySystem
	url = https://github.com/Soccertitan/CrimAbilitySystem
[submodule "Plugins/GameplayMessageRouter"]
	path = Plugins/GameplayMessageRouter
	url = https://github.com/Soccertitan/GameplayMessageRouter
[submodule "Plugins/RandomDistributionSystem"]
	path = Plugins/RandomDistributionSystem
	url = https://github.com/Soccertitan/RandomDistributionSystem
[submodule "Plugins/CrimActionSystem"]
	path = Plugins/CrimActionSystem
	url = https://github.com/Soccertitan/CrimActionSystem
